*/.terraform.lock.hcl
*/.terraform/*
compute-engine/.terraform/providers/registry.terraform.io/hashicorp/google/4.6.0/darwin_arm64/terraform-provider-google_v4.6.0_x5
*/.terraform.lock.hcl
*/errored.tfstate
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform/terraform.tfstate
*/.terraform/providers/registry.terraform.io/hashicorp/google/4.6.0/darwin_arm64/terraform-provider-google_v4.6.0_x5
*/.terraform/providers/registry.terraform.io/hashicorp/google/5.7.0/darwin_arm64/terraform-provider-google_v5.7.0_x5
compute-engine/.terraform/providers/registry.terraform.io/hashicorp/google/5.7.0/darwin_arm64/terraform-provider-google_v5.7.0_x5
buckets/.terraform.lock.hcl
buckets/.terraform/terraform.tfstate
buckets/.terraform/providers/registry.terraform.io/hashicorp/google/5.7.0/darwin_arm64/terraform-provider-google_v5.7.0_x5
compute-engine/.terraform/providers/registry.terraform.io/hashicorp/random/3.5.1/darwin_arm64/terraform-provider-random_v3.5.1_x5
bigquery/.terraform/providers/registry.terraform.io/hashicorp/google/5.7.0/darwin_arm64/terraform-provider-google_v5.7.0_x5
bigquery/.terraform/terraform.tfstate
